.active-button {
    background-color: white !important;
    color: tomato !important;
}

.deactive-button {
    background-color: #F37361 !important;
    color: white !important;
}

.group-buttons {
    margin-top: 5vh;
}

.descryption-header {
    font-size: x-large;
}

.exercise-panel-size {
    margin-top: 40vh;
    height: 60vh;
}

.question-button {
    width: 20vh;
    border-color: #ffffff !important;
}

.question-descryption {
    background-color: #282C34 !important;
    color: #ffffff !important;
    font-size: large;
    margin-top: 10px;
    width: 20vh;
    height: 12vh;
}

.informations-panel {
    display: flex;
}