.result-panel-size {
    margin-top: 30vh;
    height: 70vh;
}

.descryption-header {
    font-size: larger;
}

.informations-panel {
    display: flex;
}

.card-information {
    width: 30vh;
    height: 30vh;
    border-color: #F37361 !important;
    color: #ffffff !important;
    background-color: #282C34 !important;
    margin: 5vh 5vh 5vh 5vh;
}