.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.span-input-gender {
  font-size: large;
}

.group-input-gender {
  margin-top: 10px;
  margin-bottom: 15px;
}

.tmb-input-informations {
  width: 20%;
  height: 25px;
  border-radius: 5px;
}

.tmb-input-informations:focus {
  outline-color: #F37361;
}

.calculate-button {
  width: 20%;
  height: 25px;
  border-radius: 5px;
}

.calculate-button:focus {
  background: #F37361;
  outline-color: #282C34;
}

.calculate-button:hover {
  background: #F37361;
  outline-color: #282C34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}